.human-card {
  padding: 1em;
  width: 18em;
  height: 15em;
  background-color: limegreen;
  border-radius: 0.5em;
  margin: 1em;
  justify-content: space-around;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.527);
  color: white;
  font-family: 'Georgia';
  cursor: pointer;
}

.human-card img{
  grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
  max-width: 100%;
  height: 10em;
  object-fit: center;
  box-shadow: inset 0 0 1em rgb(0, 0, 0);
}

.human-card:hover {
  transform: scale(1.01);
}

.human-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.humans h1{
font-size: 40px;
}